  @import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

  body {
      position: relative;
      display: block;
      padding: 0;
      font-family: 'Raleway', sans-serif;
      color: #8c8c8c;
      background-color: #fff;
      width: 1920px;
      margin: 0 auto;
  }

  main,
  footer {
      display: block;


  }

  header {
      display: block;
      height: 1024px;
      background: url(../images/bg%20photo.png) no-repeat left;
      color: #fff;
  }

  .upper-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 61%;
      margin: 0 auto;
      padding-top: 20px;

  }

  .logo {
      display: block;
      float: left;
      font-size: 34px;
      background: url(../images/logo.svg) no-repeat left;
      height: 60px;
      width: 200px;
      padding-left: 70px;
      padding-top: 30px
  }

  .top-menu {
      display: flex;
      flex-direction: row;
      margin-left: 101px;
  }

  .top-menu ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 14px;

  }

  .top-menu ul li a:hover {
      color: #c7b299;
  }

  .top-menu ul li {
      display: inline-grid;
      grid-template-columns: 1fr;
      margin-right: 30px;

  }

  .search {
      margin-left: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1vw;
      width: 5%;

  }

  .search img {}

  .slider {
      display: flex;
      height: 740px;
      flex-direction: row;
      align-items: center;
      justify-content: center;
  }

  .slider-menu {
      flex-direction: column;
      width: 600px;
      align-items: center;
      text-align: center;
  }

  .slider-menu h3 {
      font-size: 36px;
      font-weight: 400;
      margin-bottom: 10px;
  }

  .slider-menu h1 {
      font-size: 52px;
      font-weight: 700;
      margin-bottom: 10px;
      margin-top: 10px;
  }

  .slider-menu p {
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
      margin-bottom: 10px;
      margin-top: 10px;
  }

  .main-menu {
      margin: 0 auto;
      margin-top: 3vh;
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 3vw;
  }

  .main-menu-item {
      text-align: center;

  }

  .main-menu-item img {
      height: 46px;
  }

  .main-menu-item h4 {
      font-size: 22px;
      font-weight: 600;
      color: #555;

  }

  .main-menu-item p {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      line-height: 22px;
      color: #8c8c8c;

  }

  .ideas {
      background-color: #fbfaf8;
      height: 36vh;
      background-image: url(../images/browser-center.png), url(../images/browser-left.png), url(../images/browser-right.png);
      background-repeat: no-repeat;
      background-position: center bottom, 14vw bottom, 40vw bottom;


  }



  .ideas h2 {
      font-size: 30px;
      text-align: center;
      font-weight: 600;
      color: #555;
      padding-top: 4vh;
  }

  .ideas p {
      display: block;
      width: 40vw;
      margin: 0 auto;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      color: #8c8c8c;
      line-height: 30px;
      text-align: center;
  }

  .purchase-now {
      display: block;
      background: linear-gradient(to right, #211b19, #4e3427);
      height: 6vh;

  }

  .partners {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background: url(../images/parnters%20bg.png) no-repeat;
  }

  .partner-item {}
